{% extends 'base.html' %}

{% block header %}
  <h2 class="text-indigo-900 bg-yellow-300 w-full p-3 uppercase font-bold pl-10">{% block title %}iniciar Sesión{% endblock %}</h2>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  {% endblock %}

{% block content %}
  <form method="post" action="{{ url_for('auth.login')}}" class="px-8 py-4">

    <div class="relative my-2 rounded"> 
      <input placeholder="NOMBRE DE USUARIO" type="text" name="username" id="username" class=" border border-gray-300 rounded-md py-2 pr-3 pl-10 w-full mb-2 focus:border-indigo-500 text-indigo-900 text-center" required>
       
     <div class="absolute inset-y-2">
       <i class="bi-person-circle text-gray-400 my-auto mx-4"></i>
     </div>

   </div>

    <div class="relative my-2 rounded"> 
      <input placeholder="CONTRASEÑA" type="password" name="password" id="password" class=" border border-gray-300 rounded-md py-2 pr-3 pl-10 w-full mb-2 focus:border-indigo-500 text-indigo-900 text-center" required>
     
      <div class="absolute inset-y-2">
        <i class="bi-shield-lock-fill text-gray-400 my-auto mx-4"></i>
   </div>
   
    <input type="submit" value="Iniciar Sesión" class="w-max bg-yellow-300 rounded-md py-2 m-2 cursor-pointer hover:bg-yellow-400 transition-all text-indigo-900 font-bold uppercase block mx-auto cursor-pointer">

  </form>
   
{% endblock %}
